# Node dependencies
node_modules/
**/node_modules/

# Babel output
lib/
**/lib/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Images
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.ico
**/Playerimages/

# Parcel build cache and outputs
.parcel-cache/
**/.parcel-cache/
dist/
**/dist/
